<% include partials/head_btitle %>
<title>YelpCamp | Kaylen Travis Pillay</title>
<% include partials/head_atitle %>

<h1>App Landing Page</h1>
<p>This will be the place where the application landing page will be displayed.</p>

<% include partials/footer %>