#campground-display{
    display: flex;
    flex-wrap: wrap;
}

#centered-form{
    margin: 0px auto;
    width: 40%;
}

.margin-down-20{
    margin-bottom: 30px;
}

.thumbnail img{
    width: 100%;
    padding: 0;
}